{% extends "base.html" %}
{% load static %}

{% block title %}Orvos hozzáadása{% endblock %}

{% block header_title %}Orvos hozzáadása{% endblock %}

{% block content %}
<section class="add-doctor">
    <h2>Orvos hozzáadása</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Felhasználónév:</label>
            {{ user_form.username }}
        </div>
        <div class="form-group">
            <label for="id_email">Email cím:</label>
            {{ user_form.email }}
        </div>
        <div class="form-group">
            <label for="id_password1">Jelszó:</label>
            <div class="password-container">
                {{ user_form.password1 }}
                <button type="button" onclick="togglePasswordVisibility('id_password1')">Mutat</button>
            </div>
        </div>
        <div class="form-group">
            <label for="id_password2">Jelszó megerősítése:</label>
            <div class="password-container">
                {{ user_form.password2 }}
                <button type="button" onclick="togglePasswordVisibility('id_password2')">Mutat</button>
            </div>
        </div>
        <div class="form-group">
            <label for="id_name">Név:</label>
            {{ doctor_form.name }}
        </div>
        <div class="form-group">
            <label for="id_photo">Fénykép:</label>
            <div class="photo-container">
                {{ doctor_form.photo }}
                <button type="button" onclick="document.getElementById('id_photo').click()">Feltöltés</button>
                <img id="new-photo-preview" class="doctor-image" style="display:none;">
            </div>
        </div>
        <div class="form-group">
            <label for="id_qualification">Képesítés:</label>
            {{ doctor_form.qualification }}
        </div>
        <button type="submit">Mentés</button>
        <a href="{% url 'admin_view' %}" class="button">Mégsem</a>
    </form>
</section>
{% endblock %}

{% block scripts %}
<script>
    function togglePasswordVisibility(fieldId) {
        var field = document.getElementById(fieldId);
        if (field.type === "password") {
            field.type = "text";
        } else {
            field.type = "password";
        }
    }

    document.getElementById('id_photo').addEventListener('change', function(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var preview = document.getElementById('new-photo-preview');
            preview.src = reader.result;
            preview.style.display = 'block';
            preview.style.maxWidth = '200px';  
            preview.style.maxHeight = '200px'; 
        };
        reader.readAsDataURL(event.target.files[0]);
    });

    document.getElementById('new-photo-preview').addEventListener('click', function() {
        document.getElementById('id_photo').click();
    });
</script>
{% endblock %}