{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Új orvos hozzáadása</title>
    <link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.webp' %}" type="image/webp"> 
</head>
<body>
    <header>
        <div class="header-container">
            <img src="{% static 'images/fooldal_kep.png' %}" alt="Főoldal fotó" class="header-image">
            <div class="overlay">
                <h1 class="header-title">Új orvos hozzáadása</h1>
            </div>
        </div>
    </header>
    <main>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_name">Név:</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="id_photo">Fénykép:</label>
                <div class="photo-container">
                    <input type="file" name="photo" id="id_photo" class="custom-file-input">
                    <img id="new-photo-preview" class="doctor-image" style="display:none;">
                </div>
            </div>
            <div class="form-group">
                <label for="id_qualification">Képesítés:</label>
                {{ form.qualification }}
            </div>
            <div class="form-group">
                <label for="id_email">Email cím:</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="id_password1">Jelszó:</label>
                <div class="password-container">
                    {{ form.password1 }}
                    <button type="button" onclick="togglePasswordVisibility('id_password1')">Mutat</button>
                </div>
            </div>
            <div class="form-group">
                <label for="id_password2">Jelszó megerősítése:</label>
                <div class="password-container">
                    {{ form.password2 }}
                    <button type="button" onclick="togglePasswordVisibility('id_password2')">Mutat</button>
                </div>
            </div>
            <button type="submit">Hozzáadás</button>
            <a href="{% url 'admin_view' %}" class="button">Mégsem</a>
        </form>
    </main>
    <footer>
        <div class="contact-info">
            <h2>Elérhetőségek:</h2>
            <p><strong>Cím:</strong> 1062 Budapest, Mosoly utca 12.</p>
            <p><strong>Telefon:</strong> +36 1 789 4567</p>
            <p><strong>E-mail:</strong> <a href="mailto:kapcsolat@mosolyfogaszat.hu">kapcsolat@mosolyfogaszat.hu</a></p>
            <p><strong>Nyitvatartás:</strong> Hétfőtől péntekig 8:00-19:00, szombaton 9:00-13:00</p>
            <p><strong>Parkolás:</strong> Ingyenes parkolási lehetőség a rendelő előtt.</p>
            <p><strong>Tömegközlekedés:</strong> A 4-es és 6-os villamossal, valamint az M1-es metróval könnyen megközelíthető.</p>
        </div>
        <p class="copy">&copy; 2024 Minden jog fenntartva.</p>
    </footer>
    <script>
        function togglePasswordVisibility(fieldId) {
            var field = document.getElementById(fieldId);
            if (field.type === "password") {
                field.type = "text";
            } else {
                field.type = "password";
            }
        }

        document.getElementById('id_photo').addEventListener('change', function(event) {
            var reader = new FileReader();
            reader.onload = function() {
                var preview = document.getElementById('new-photo-preview');
                preview.src = reader.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(event.target.files[0]);
        });

        document.getElementById('new-photo-preview').addEventListener('click', function() {
            document.getElementById('id_photo').click();
        });
    </script>
</body>
</html>