{% extends "base.html" %}
{% load static %}

{% block title %}Admin{% endblock %}

{% block header_title %}Admin{% endblock %}

{% block content %}
<section class="admin">
    <h2>Adminisztráció</h2>
    <button class="accordion-button">Kezelések</button>
    <div class="accordion-content">
        <a href="{% url 'add_treatment' %}" class="add-button">Új kezelés hozzáadása</a>
        <ul class="treatment-list">
            {% for treatment in treatments %}
            <li class="treatment-item">
                <div class="treatment-info">
                    <span class="treatment-name">{{ treatment.name }}</span>
                    <span class="treatment-duration">{{ treatment.duration }}</span>
                </div>
                <div class="treatment-actions">
                    <a href="{% url 'edit_treatment' treatment.id %}" class="edit-button">Szerkesztés</a>
                    <a href="{% url 'delete_treatment' treatment.id %}" class="delete-button">Törlés</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <button class="accordion-button">Orvosok</button>
    <div class="accordion-content">
        <a href="{% url 'add_doctor' %}" class="add-button">Új orvos hozzáadása</a>
        <ul class="doctor-list">
            {% for doctor in doctors %}
            <li class="doctor-item">
                <img src="{{ doctor.photo.url }}" alt="{{ doctor.name }}" class="doctor-thumbnail">
                <div class="doctor-info">
                    <span class="doctor-name">{{ doctor.name }}</span>
                    <span class="doctor-qualification">{{ doctor.qualification }}</span>
                </div>
                <div class="doctor-actions">
                    <a href="{% url 'edit_doctor' doctor.id %}" class="edit-button">Szerkesztés</a>
                    <a href="{% url 'delete_doctor' doctor.id %}" class="delete-button">Törlés</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <button class="accordion-button">Felhasználói fiókok</button>
    <div class="accordion-content">
        <a href="{% url 'add_admin_user' %}" class="add-button">Új admin felhasználó hozzáadása</a>
        <ul class="user-list">
            {% for user in users %}
            <li class="user-item">
                <div class="user-info">
                    <span class="user-name">{{ user.username }}</span>
                    <span class="user-email">{{ user.email }}</span>
                    {% if user.is_superuser %}
                    <span class="user-role">Superuser</span>
                    {% else %}
                        {% if user.patient %}
                            <span class="user-gender">{{ user.patient.gender }}</span>
                            <span class="user-birthdate">{{ user.patient.birthDate }}</span>
                            <span class="user-telecom">{{ user.patient.telecom }}</span>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="user-actions">
                    {% if user.id != request.user.id %}
                        {% if not user.is_superuser and user.is_staff %}
                            Orvos, szerkeszthető az "Orvosok" menüben!
                        {% else %}
                            <a href="{% url 'edit_user' user.id %}" class="edit-button">Szerkesztés</a>
                            <a href="{% url 'delete_user' user.id %}" class="delete-button">Törlés</a>
                        {% endif %}
                    {% else %}
                        Saját profil, szerkeszthető a "Profil" oldalon.
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var accButtons = document.querySelectorAll('.accordion-button');
        accButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        });
    });
</script>
{% endblock %}