{% extends "base.html" %}
{% load static %}

{% block title %}Orvos törlése{% endblock %}

{% block header_title %}Orvos törlése{% endblock %}

{% block content %}
<section class="delete-doctor">
    <h2>Biztosan törölni szeretné a következő orvost?</h2>
    <p>{{ doctor.name }} - {{ doctor.qualification }}</p>
    {% if doctor.photo %}
    <div class="doctor-photo">
        <img src="{{ doctor.photo.url }}" alt="{{ doctor.name }}" class="doctor-image">
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <button type="submit">Törlés</button>
        <a href="{% url 'admin_view' %}" class="button">Mégse</a>
    </form>
</section>
{% endblock %}