{% extends "base.html" %}
{% load static %}

{% block title %}Kezelés törlése{% endblock %}

{% block header_title %}Kezelés törlése{% endblock %}

{% block content %}
<section class="delete-treatment">
    <h2>Biztosan törölni szeretné a következő kezelést?</h2>
    <p>{{ treatment.name }} - {{ treatment.duration }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Törlés</button>
        <a href="{% url 'admin_view' %}" class="button">Mégse</a>
    </form>
</section>
{% endblock %}