{% extends "base.html" %}
{% load static %}

{% block title %}Felhasználói fiók törlése{% endblock %}

{% block header_title %}Felhasználói fiók törlése{% endblock %}

{% block content %}
<section class="delete-user">
    <h2>Biztosan törölni szeretné ezt a felhasználói fiókot?</h2>
    <p><strong>Felhasználónév:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Törlés</button>
        <a href="{% url 'admin_view' %}" class="button-like">Mégse</a>
    </form>
</section>
{% endblock %}