{% extends "base.html" %}
{% load static %}

{% block title %}Orvos szerkesztése{% endblock %}

{% block header_title %}Orvos szerkesztése{% endblock %}

{% block content %}
<section class="edit-doctor">
    <h2>Orvos szerkesztése</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Felhasználónév:</label>
            {{ user_form.username }}
        </div>
        <div class="form-group">
            <label for="id_email">Email cím:</label>
            {{ user_form.email }}
        </div>
        <div class="form-group">
            <label for="id_password1">Új jelszó:</label>
            <div class="password-container">
                {{ user_form.password1 }}
                <button type="button" onclick="togglePasswordVisibility('id_password1')">Mutat</button>
            </div>
        </div>
        <div class="form-group">
            <label for="id_password2">Új jelszó megerősítése:</label>
            <div class="password-container">
                {{ user_form.password2 }}
                <button type="button" onclick="togglePasswordVisibility('id_password2')">Mutat</button>
            </div>
        </div>
        <div class="form-group">
            <label for="id_name">Név:</label>
            {{ doctor_form.name }}
        </div>
        <div class="form-group">
            <label for="id_photo">Profilkép:</label>
            {{ doctor_form.photo }}
        </div>
        <div class="form-group">
            <label for="id_qualification">Képesítés:</label>
            {{ doctor_form.qualification }}
        </div>
        <button type="submit">Mentés</button>
        <a href="{% url 'admin_view' %}" class="button-like">Mégse</a>
    </form>
</section>
{% endblock %}

{% block scripts %}
<script>
    function togglePasswordVisibility(fieldId) {
        var field = document.getElementById(fieldId);
        if (field.type === "password") {
            field.type = "text";
        } else {
            field.type = "password";
        }
    }

    document.getElementById('id_photo').addEventListener('change', function(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var preview = document.getElementById('current-photo');
            preview.src = reader.result;
            preview.style.display = 'block';
            preview.style.maxWidth = '200px';  
            preview.style.maxHeight = '200px';
        };
        reader.readAsDataURL(event.target.files[0]);
    });

    document.getElementById('current-photo').addEventListener('click', function() {
        document.getElementById('id_photo').click();
    });
</script>
{% endblock %}