{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Időpontfoglalás</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.webp' %}" type="image/webp"> <!-- Favicon hozzáadása -->
</head>
<body>
    <header>
        <div class="header-container">
            <img src="{% static 'Images/fooldal_kep.png' %}" alt="Főoldal fotó" class="header-image">
            <div class="overlay">
                <h1 class="header-title">Időpontfoglalás</h1>
            </div>
        </div>
    </header>
    <main>
        <nav>
            <ul class="navbar">
                <li><a href="{% url 'home' %}">Kezdőoldal</a></li>
                <li><a href="{% url 'book' %}">Időpontfoglalás</a></li>
                {% if user.is_authenticated and user.is_superuser %}
                    <li><a href="{% url 'admin_view' %}">Admin</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profil</a></li>
                    <li><a href="{% url 'logout' %}">Kijelentkezés</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Bejelentkezés</a></li>
                {% endif %}
            </ul>
        </nav>
        
        <!-- Orvosok szekció -->
        <section class="doctors">
            <h2>Válasszon orvost</h2>
            <div class="doctor-list">
                <a href="#" class="doctor" data-doctor="Dr. Kovács Julianna">
                    <img src="{% static 'images/fogorvos.jpg' %}" alt="Dr. Kovács Julianna">
                    <p>Dr. Kovács Julianna</p>
                </a>
            </div>
        </section>

        <section class="booking">
            <h2>Időpontfoglalás</h2>
            <form action="{% url 'book' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="selected_doctor" name="selected_doctor" required>
                
                <label for="appointment_datetime">Válasszon időpontot:</label>
                <input type="datetime-local" id="appointment_datetime" name="appointment_datetime" required>
                
                <label for="treatment">Válasszon kezelést:</label>
                <select id="treatment" name="treatment" required>
                    <option value="fogtomes">Fogtömés</option>
                    <option value="gyokerkezeles">Gyökérkezelés</option>
                    <option value="fogpotlas">Fogpótlás</option>
                    <option value="fogfeherites">Fogfehérítés</option>
                    <option value="esztetikai">Esztétikai beavatkozás</option>
                    <option value="implantacio">Implantáció</option>
                </select>
                
                <button type="submit">Időpont foglalása</button>
            </form>
        </section>
    </main>
    <footer>
        <div class="contact-info">
            <h2>Elérhetőségek:</h2>
            <p><strong>Cím:</strong> 1062 Budapest, Mosoly utca 12.</p>
            <p><strong>Telefon:</strong> +36 1 789 4567</p>
            <p><strong>E-mail:</strong> <a href="mailto:kapcsolat@mosolyfogaszat.hu">kapcsolat@mosolyfogaszat.hu</a></p>
            <p><strong>Nyitvatartás:</strong> Hétfőtől péntekig 8:00-19:00, szombaton 9:00-13:00</p>
            <p><strong>Parkolás:</strong> Ingyenes parkolási lehetőség a rendelő előtt.</p>
            <p><strong>Tömegközlekedés:</strong> A 4-es és 6-os villamossal, valamint az M1-es metróval könnyen megközelíthető.</p>
        </div>
        <p class="copy">&copy; 2024 Minden jog fenntartva.</p>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const doctorLinks = document.querySelectorAll('.doctor');
            const selectedDoctorInput = document.getElementById('selected_doctor');
            
            doctorLinks.forEach(link => {
                link.addEventListener('click', function(event) {
                    event.preventDefault();
                    const doctorName = this.getAttribute('data-doctor');
                    selectedDoctorInput.value = doctorName;
                    doctorLinks.forEach(link => link.classList.remove('selected'));
                    this.classList.add('selected');
                });
            });
        });
    </script>
</body>
</html>