{% extends "base.html" %}
{% load static %}

{% block title %}Időpontfoglalás{% endblock %}

{% block header_title %}Időpontfoglalás{% endblock %}

{% block content %}
{% if error_message %}
    <h2>{{ error_message }}</h2>
{% elif user.is_superuser or user.is_staff %}
    <h2>Admin vagy orvos fiókkal nem kérhetsz időpontot!</h2>
{% elif user.is_authenticated %}
    <section class="doctors">
        <h2>Válasszon orvost</h2>
        <div class="doctor-list">
            {% for doctor in doctors %}
            <a href="#" class="doctor" data-doctor="{{ doctor.id }}">
                <img src="{{ doctor.photo.url }}" alt="{{ doctor.name }}" class="doctor-photo">
                <span>{{ doctor.name }}</span>
            </a>
            {% endfor %}
        </div>
    </section>
    <section class="booking">
        <h2>Időpontfoglalás</h2>
        <form id="booking-form" method="post">
            {% csrf_token %}
            <input type="hidden" id="selected_doctor" name="selected_doctor" required>
            
            <label for="treatment">Válasszon kezelést:</label>
            <select id="treatment" name="treatment" required>
                <option value="" disabled selected>Kérem válasszon kezelést!</option>
                {% for treatment in treatments %}
                <option value="{{ treatment.id }}" data-duration="{{ treatment.duration.total_seconds }}">{{ treatment.name }}</option>
                {% endfor %}
            </select>

            <button type="button" id="earliest-appointment-button">Leghamarabbi időpont kiválasztása</button>

            <label for="appointment_date">Dátum:</label>
            <input type="date" id="appointment_date" name="appointment_date" required style="cursor: pointer;">

            <div id="time_slots">
                <div id="morning_section" style="display: none;">
                    <h3>Délelőtt</h3>
                    <div id="morning_slots" class="time-slots"></div>
                </div>
                <div id="afternoon_section" style="display: none;">
                    <h3>Délután</h3>
                    <div id="afternoon_slots" class="time-slots"></div>
                </div>
            </div>

            <label for="payment_method">Fizetési mód:</label>
            <div class="payment-methods">
                <div class="payment-method" data-value="pay_now">
                    <span class="payment-icon">💳</span>
                    <span class="payment-text">Fizetés most (PayPal vagy bankkártya)</span>
                </div>
                <div class="payment-method" data-value="pay_later">
                    <span class="payment-icon">💵</span>
                    <span class="payment-text">Fizetés helyszínen</span>
                </div>
            </div>
            <input type="hidden" id="payment_method" name="payment_method" required>

            <input type="hidden" id="appointment_datetime" name="appointment_datetime">
            <button type="submit" id="submit_button">Foglalás</button>
        </form>
    </section>
{% else %}
    <h2>Időpont foglaláshoz kérem, jelentkezzen be, vagy hozzon létre egy új fiókot!</h2>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const doctorLinks = document.querySelectorAll('.doctor');
        const selectedDoctorInput = document.getElementById('selected_doctor');
        const earliestAppointmentButton = document.getElementById('earliest-appointment-button');
        
        doctorLinks.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const doctorId = this.getAttribute('data-doctor');
                selectedDoctorInput.value = doctorId;
                doctorLinks.forEach(link => link.classList.remove('selected'));
                this.classList.add('selected');
                updateAvailableSlots();
            });
        });

        document.getElementById('treatment').addEventListener('change', function() {
            updateAvailableSlots();
        });

        document.getElementById('appointment_date').addEventListener('change', function() {
            updateAvailableSlots();
        });

        earliestAppointmentButton.addEventListener('click', function() {
            const selectedDoctor = selectedDoctorInput.value;
            const selectedTreatment = document.getElementById('treatment').value;
            if (selectedDoctor && selectedTreatment) {
                fetch(`/get_earliest_slot/?doctor=${selectedDoctor}&treatment=${selectedTreatment}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.earliest_slot) {
                            document.getElementById('appointment_date').value = data.earliest_slot.date;
                            updateAvailableSlots(() => {
                                const timeSlotButton = document.querySelector(`.time-slots button[data-time="${data.earliest_slot.time}"]`);
                                if (timeSlotButton) {
                                    timeSlotButton.click();
                                } else {
                                    const firstAvailableButton = document.querySelector('.time-slots button:not([disabled])');
                                    if (firstAvailableButton) {
                                        firstAvailableButton.click();
                                    }
                                }
                            });
                        } else {
                            alert('Nincs elérhető időpont.');
                        }
                    });
            } else {
                alert('Kérem válasszon orvost és kezelést.');
            }
        });

        function updateAvailableSlots(callback) {
            const selectedDoctor = selectedDoctorInput.value;
            const selectedDate = document.getElementById('appointment_date').value;
            const selectedTreatment = document.getElementById('treatment').value;
            if (selectedDoctor && selectedDate && selectedTreatment) {
                fetch(`/get_available_slots/?doctor=${selectedDoctor}&date=${selectedDate}&treatment=${selectedTreatment}`)
                    .then(response => response.json())
                    .then(data => {
                        const morningSection = document.getElementById('morning_section');
                        const afternoonSection = document.getElementById('afternoon_section');
                        const morningSlotsDiv = document.getElementById('morning_slots');
                        const afternoonSlotsDiv = document.getElementById('afternoon_slots');
                        morningSlotsDiv.innerHTML = '';
                        afternoonSlotsDiv.innerHTML = '';
                        let morningSlotsExist = false;
                        let afternoonSlotsExist = false;
                        data.slots.forEach(slot => {
                            const button = document.createElement('button');
                            button.type = 'button';
                            button.textContent = slot.time;
                            button.disabled = !slot.available;
                            button.classList.remove('selected'); 
                            button.setAttribute('data-time', slot.time);
                            button.addEventListener('click', function() {
                                document.getElementById('appointment_datetime').value = `${selectedDate} ${slot.time}`;
                                document.getElementById('submit_button').disabled = false;
                                document.querySelectorAll('.time-slots button').forEach(btn => btn.classList.remove('selected'));
                                this.classList.add('selected');
                            });
                            if (parseInt(slot.time.split(':')[0]) < 12) {
                                morningSlotsDiv.appendChild(button);
                                morningSlotsExist = true;
                            } else {
                                afternoonSlotsDiv.appendChild(button);
                                afternoonSlotsExist = true;
                            }
                        });
                        morningSection.style.display = morningSlotsExist ? 'block' : 'none';
                        afternoonSection.style.display = afternoonSlotsExist ? 'block' : 'none';
                        if (callback) callback();
                    });
            }
        }

        const appointmentDateInput = document.getElementById('appointment_date');
        const today = new Date();
        const tomorrow = new Date(today);
        tomorrow.setDate(tomorrow.getDate() + 1);
        const yyyy = tomorrow.getFullYear();
        const mm = String(tomorrow.getMonth() + 1).padStart(2, '0');
        const dd = String(tomorrow.getDate()).padStart(2, '0');
        const minDate = `${yyyy}-${mm}-${dd}`;
        appointmentDateInput.setAttribute('min', minDate);

        appointmentDateInput.addEventListener('blur', function() {
            const selectedDate = new Date(this.value);
            if (selectedDate < tomorrow) {
                this.value = minDate;
            }
        });

        const bookingForm = document.getElementById('booking-form');
        bookingForm.addEventListener('submit', function(event) {
            event.preventDefault();
            const selectedDoctor = document.querySelector('.doctor.selected').textContent;
            const selectedTreatment = document.getElementById('treatment').selectedOptions[0].textContent;
            const selectedDate = document.getElementById('appointment_date').value;
            const selectedTime = document.getElementById('appointment_datetime').value.split(' ')[1];
            const confirmationMessage = `Orvos: ${selectedDoctor}\nKezelés: ${selectedTreatment}\nIdőpont: ${selectedDate} ${selectedTime}\nBiztosan lefoglalja az időpontot?`;
            if (confirm(confirmationMessage)) {
                bookingForm.submit();
            }
        });

        const paymentMethods = document.querySelectorAll('.payment-method');
        const paymentMethodInput = document.getElementById('payment_method');

        paymentMethods.forEach(method => {
            method.addEventListener('click', function() {
                paymentMethods.forEach(m => m.classList.remove('selected'));
                this.classList.add('selected');
                paymentMethodInput.value = this.getAttribute('data-value');
            });
        });
    });
</script>
{% endblock %}