{% extends "base.html" %}
{% load static %}

{% block title %}Kezdőoldal{% endblock %}

{% block header_title %}Üdvözöljük a Kezdőoldalon{% endblock %}

{% block content %}
<section class="intro">
    <p>
        Üdvözöljük az IldiDental magán fogorvosi rendelőben, ahol a legmodernebb technológiák és a szakképzett fogorvosi csapat várja Önt! Rendelőnk célja, hogy a fogászati ellátás ne csupán a kezelésekről, hanem az egészséges és szép mosoly élményéről szóljon. Tudjuk, hogy sokan tartanak a fogorvosi látogatástól, ezért mindent megteszünk azért, hogy barátságos, nyugodt környezetet biztosítsunk, ahol pácienseink bizalommal fordulhatnak hozzánk.
        Szolgáltatásaink között megtalálható a fogtömés, gyökérkezelés, fogpótlás, fogfehérítés, valamint esztétikai és implantációs beavatkozások is. Rendelőnk minden életkorú páciens számára nyitva áll, legyen szó gyermekekről, fiatal felnőttekről, vagy idősebbekről. Fogorvosaink folyamatosan továbbképzik magukat, hogy naprakészek legyenek a legújabb technikák és kezelési módszerek terén, ezáltal Ön a legmagasabb színvonalú ellátást kaphatja.
        Minden esetben személyre szabott kezelési tervet készítünk, amely a páciens igényeire, fogainak állapotára és az egészségügyi szempontokra épül. Fontos számunkra a hosszú távú eredmények biztosítása, így nemcsak a jelenlegi problémákat oldjuk meg, hanem segítünk az egészséges szájhigiénia fenntartásában is.
        Várjuk Önt rendelőnkben, ahol szakértői csapatunk szeretettel és odafigyeléssel áll rendelkezésére!
    </p>
</section>
<section class="pricing">
    <h2>Áraink:</h2>
    <table>
        <tr>
            <th>Szolgáltatás</th>
            <th>Ár</th>
        </tr>
        {% for treatment in treatments %}
        <tr>
            <td>{{ treatment.name }}</td>
            <td>{{ treatment.price }} Ft</td>
        </tr>
        {% endfor %}
    </table>
    <p>
        Az árak változhatnak a beavatkozások egyedi igényei alapján. A végleges kezelési költségeket az állapotfelmérés során határozzuk meg, és részletes tájékoztatást nyújtunk pácienseinknek.
    </p>
</section>
{% endblock %}