{% extends "base.html" %}
{% load static %}

{% block title %}Bejelentkezés{% endblock %}

{% block header_title %}Bejelentkezés{% endblock %}

{% block content %}
<section class="login">
    <h2>Bejelentkezés</h2>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Email cím:</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="id_password">Jelszó:</label>
            <div class="password-container">
                {{ form.password }}
                <button type="button" onclick="togglePasswordVisibility('id_password')">Mutat</button>
            </div>
        </div>
        <button type="submit">Bejelentkezés</button>
        <a href="{% url 'register' %}" class="button-like">Regisztrálok</a>
    </form>
</section>
{% endblock %}

{% block scripts %}
<script>
    function togglePasswordVisibility(fieldId) {
        var field = document.getElementById(fieldId);
        if (field.type === "password") {
            field.type = "text";
        } else {
            field.type = "password";
        }
    }
</script>
{% endblock %}