{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bejelentkezés</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="{% static 'Images/fooldal_kep.png' %}" alt="Főoldal fotó" class="header-image">
            <div class="overlay">
                <h1 class="header-title">Bejelentkezés</h1>
            </div>
        </div>
    </header>
    <main>
        <section class="login">
            <h2>Bejelentkezés</h2>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <label for="email">Email cím:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="password">Jelszó:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Bejelentkezés</button>
            </form>
        </section>
    </main>
</body>
</html>