{% extends "base.html" %}
{% load static %}

{% block title %}Páciensek{% endblock %}

{% block header_title %}Páciensek{% endblock %}

{% block content %}
<section class="patients">
    <h2>Páciensek listája</h2>
    <form method="get" action="{% url 'patients' %}">
        <input type="text" name="search" placeholder="Keresés név alapján" value="{{ request.GET.search }}">
        <button type="submit">Keresés</button>
        <button type="button" onclick="showAllPatients()">Összes páciens</button>
    </form>
    {% if no_results_message %}
        <p class="info-message">{{ no_results_message }}</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Név</th>
                    <th>Nem</th>
                    <th>Születési dátum</th>
                    <th>Elérhetőség</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr onclick="goToPatientDetail('{{ patient.id }}')" class="patient-item">
                    <td>{{ patient.name }}</td>
                    <td>
                        {% if patient.gender == 'male' %}
                            Férfi
                        {% elif patient.gender == 'female' %}
                            Nő
                        {% endif %}
                    </td>
                    <td>{{ patient.birthDate }}</td>
                    <td>{{ patient.telecom }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</section>
{% endblock %}

{% block scripts %}
<script>
    function goToPatientDetail(patientId) {
        window.location.href = "{% url 'patient_detail' 'PATIENT_ID' %}".replace('PATIENT_ID', patientId);
    }
    function showAllPatients() {
        window.location.href = "{% url 'patients' %}";
    }
</script>
{% endblock %}