{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regisztráció</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.webp' %}" type="image/webp"> 
</head>
<body>
    <header>
        <div class="header-container">
            <img src="{% static 'Images/fooldal_kep.png' %}" alt="Főoldal fotó" class="header-image">
            <div class="overlay">
                <h1 class="header-title">Regisztráció</h1>
            </div>
        </div>
    </header>
    <main>
        <section class="register">
            <h2>Regisztráció</h2>
            <form method="post">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ patient_form.as_p }}
                <button type="submit">Regisztráció</button>
            </form>
        </section>
    </main>
</body>
</html>