{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regisztráció</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="{% static 'Images/fooldal_kep.png' %}" alt="Főoldal fotó" class="header-image">
            <div class="overlay">
                <h1 class="header-title">Regisztráció</h1>
            </div>
        </div>
    </header>
    <main>
        <section class="register">
            <h2>Regisztráció</h2>
            <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="profile_picture">Profilkép:</label>
                <input type="file" id="profile_picture" name="profile_picture" required>
                
                <label for="name">Név:</label>
                <input type="text" id="name" name="name" required>
                
                <label for="email">Email cím:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="phone">Telefonszám:</label>
                <input type="tel" id="phone" name="phone" required>
                
                <label for="password1">Jelszó:</label>
                <input type="password" id="password1" name="password1" required>
                
                <label for="password2">Jelszó megerősítése:</label>
                <input type="password" id="password2" name="password2" required>
                
                <button type="submit">Regisztráció</button>
            </form>
        </section>
    </main>
</body>
</html>