body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    margin-bottom: 20px;
}

.header-container {
    position: relative;
    text-align: center;
    color: white;
}

.header-image {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Szürke átfedés */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}

main {
    padding: 20px;
}

.intro {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.pricing {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info h2 {
    margin-top: 0;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info a {
    color: #ffcc00;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}